[run]
# Paths or file-glob patterns to omit completely
omit =
    # Exclude all tests
    */tests/*
    # Exclude Django-generated project-level files (not app-level)
    CarbonInsight/**
    # Exclude Django-generated migrations
    */migrations/*
    # Exclude __init__.py files
    */__init__.py
    # Exclude AI service because they either cost money to test or don't have consistent returns
    core/services/ai_service.py
    # Exclude Django-generated manage.py
    manage.py